ruby_version: '2.3.3'

application_path: '/opt/redmine'
application_repo: 'git://foosball.example.org/path/to/repo.git'
application_branch: 'redmine-3.1'
application_database_adapter: 'postgresql'
application_environment: production

application_name: redmine
application_context: /

http_server_hostname: server_name.com

database_host: 'mammoth.hq'
database_dbname: 'fill_dbname_here'
database_root_user: 'fill_root_pass_here'
database_root_password: 'fill_root_pass_here'
database_username: 'redmine'
database_password: 'fill_user_pass_here'
database_repo_url: https://download.postgresql.org/pub/repos/yum/9.4/redhat/rhel-7-x86_64/pgdg-centos94-9.4-3.noarch.rpm
database_version: 9.4
